<!-- include header -->
<%- include('include/_header')%>
<!--/include header-->

<!--Main site-->
<div style="font-size:60px;font-weight: bolder;color: grey;margin-left: 550px;">Gallery</div>
<div class="gd-div">
    <h1 class="gal-h1">Our Hospital</h1>
    <div class="gal-div hospital">
        <div class="ig_d"> <img src="img/gallery/hospital1.jpeg" alt=""> </div>
        <div class="ig_d"> <img src="img/gallery/hospital2.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/hospital3.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/hospital0.jpg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/hospital.jpeg" alt=""></div>
    </div>

    <h1 class="gal-h1">Our Facilities</h1>
    <div class="gal-div facilities">
        <div class="ig_d"> <img src="img/gallery/fs1.jpeg" alt="" > </div>
        <div class="ig_d"> <img src="img/gallery/fs2.jpeg" alt="" ></div>
        <div class="ig_d"> <img src="img/gallery/fs3.jpeg" alt="" ></div>
        <div class="ig_d"> <img src="img/gallery/fs4.jpeg" alt="" ></div>
        <div class="ig_d"><img src="img/gallery/fs5.jpeg" alt="" ></div>
        <div class="ig_d"><img src="img/gallery/fs6.jpeg" alt="" ></div>
        <div class="ig_d"><img src="img/gallery/fs7.jpeg" alt="" ></div>
        <div class="ig_d"><img src="img/gallery/fs8.jpeg" alt="" ></div>
        <div class="ig_d"><img src="img/gallery/fs9.jpeg" alt="" ></div>
        <div class="ig_d"><img src="img/gallery/fs10.jpeg" alt="" ></div>
        <div class="ig_d"><img src="img/gallery/fs11.jpeg" alt="" ></div>
        <div class="ig_d"><img src="img/gallery/fs12.jpeg" alt="" ></div>
        <div class="ig_d"> <img src="img/gallery/fsi12.jpeg" alt=""></div>
    </div>

    <h1 class="gal-h1">Operation Theatre</h1>
    <div class="gal-div operation">
        <div class="ig_d"> <img src="img/gallery/op1.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/op2.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/op3.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/op4.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/op5.jpeg" alt=""></div>
    </div>

    <h1 class="gal-h1">Cafe</h1>
    <div class="gal-div cafe">
        <div class="ig_d"> <img src="img/gallery/cf1.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/cf2.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/cf3.jpeg" alt=""></div>
        <div class="ig_d"> <img src="img/gallery/cf4.jpeg" alt=""></div>
    </div>
</div>
<div class="footer-top"></div>
<!--/Main site-->

<!--Footer-->
    <%- include('include/_footer')%>
<!--/Footer-->