<!-- include header -->
<%- include('include/_header')%>
<!--/include header-->

<!--Main site-->
<div class="home-frame">
	<img src="/img/image1.jpg" alt="">
	<div class="rel-img"><h1>Our Hospital</h1>
	<p> Radiant Medical Services (RMS), a multi-faceted and well-established Healthcare Hosp[ital, is equipped with professional and dedicated staff.  Our Hospital has got strong fundamentals, having an all-India footprint</p></div>
	</div>

<form>
	<div class="content of body">
		<div class="white-line"></div>
		<div class="all-content-left ">
			<div class="content-img left-img" ><img class="img-view" src="img/morden.jpeg"></div><div class="line-break"></div>
			<div class="content-pg left-content">
				<h2>Morden Infrastructure</h2>
				<p>The hospital has a modern infrastructure equipped with the latest medical technology. We are committed to providing the highest quality of healthcare for our patients. With a core specialization in diabetology and cardiology, Medway is known for offering high-class treatment with advanced technologies.</p></div>
		</div>
		<div class="white-line"></div>
		<div class="all-content-right">
			<div class="content-img right-img"><img class="img-view" src="img/excellence.jpeg"></div>
			<div class="content-pg left-pg">
				<h2>A Unified Team Striving For Excellence</h2>
				<p>Every member of our team plays a crucial role in achieving excellence, and we all endeavor to go the extra mile for our patients. We choose customer-oriented staff through robust recruitment processes, induction, training, and feedback.</p></div>
		</div>
		<div class="white-line"></div>
		<div class="all-content-left">
			<div class="content-img left-img"><img class="img-view" src="img/cardiology.jpg"></div>
			<div class="content-pg left-content">
				<h2>Excellence in cardiology</h2>
				<p>The current scenario of heart problems witnessed solutions including irregular heartbeat, i.e., arrhythmia, Coronary Artery Disease (CAD), angina, heart attack, heart valve complications, and a host of Cardiovascular Diseases (CVD). Medway Hospital is known for its excellence in treating simple to complex cardiac cases, which has helped many people overcome their cardiac problems.</p></div>
		</div>
		<div class="white-line"></div>
		<div class="all-content-right">
			<div class="content-img right-img"><img class="img-view" src="img/future.jpg"></div>
			<div class="content-pg left-pg">
				<h2>Future Plans</h2>
				<p>Our future plans include the expansion of existing facilities and the addition of more hospitals in tier-5 cities. Great emphasis will be laid upon strictly adhering to our policy of prioritising patients first and maintaining the same quality care at an affordable cost for which we are well-known.</p></div>
		</div>
		<div class="white-line"></div>
		
	</div>
    </form>
<!--/Main site-->

<!--Footer-->
    <%- include('include/_footer')%>
<!--/Footer-->