<!-- include header -->
<%- include('include/_header')%>
<!--/include header-->

<!--Main site-->
    
    <div class="lg-ag">
    <div>
        <h2 style="font-size:60px;margin-left: 50px;color: rgb(23, 6, 56);padding-top:20px ;">Admin Login</h2>
    </div>
    <form  action="/api/login" method="POST" class="lg-form" id="login">
    <div class="image">	
        <img src="img\logo.png" alt="avatar" class="img-logo" />
    </div>
    <div class="login-container">
        <label for="email"><b>Email Id</b></label>
        <input type="text" name="email" placeholder="Enter your mail" required />

        <label for="password"><b>Password</b></label>
        <input type="Password" name="password" placeholder="Enter your Password" required />
        <label class="new-login"><a href="/newuser"><b>Sign up</b></a></label>

        <div class="al-sub"><button type="submit" >Login</button></div>

    </div>
</form>
</div>

<!--/Main site-->

<!--Footer-->
    <%- include('include/_footer')%>
<!--/Footer-->