
<footer id="footer" class="classic_footer">
    <div class="footer-container">
          
          <div class="footer-container-pg" style="margin-top: 20px;">
              <div class="divider-1">
                  <h5>Patient Care</h5>
                  <ul class="1-ul">
                    <li>Find a Doctor</li>
                    <li>Patients Speak</li>        
                    <li>Corporate Benefits</li>        
                    <li>Careers</li>        
                    <li>COVID 19</li>        
                    <li>Gallery</li>        
                    <li>Breast Clinic</li>
                  </ul>
            </div>

            <div class="divider-2"><h5>News &amp; Media</h5>
                  <ul class="2-ul">        
                    <li>Blog</li>
                    <li>News &amp; Events</li>
                    <li>BMW Data</li>
                    <li>Watch our Videos</li>
                    <li>Testimonials</li>
                  </ul>
            </div>

            <div class="divider-3">
                  <h5>Centres of Excellence</h5>
                <ul class="3-ul">
                    <li>Orthopaedics</li>
                    <li>Nephrology</li>
                    <li>Bariatric Surgery</li>
                    <li>Cardiology</li>
                    <li>Gastroenterology</li>
                    <li>Urology Surgery</li>
                    <li>Cancer/Oncology</li>
                    <li>Neurology &amp; Neurosurgery</li>
                    <li>Plastic Surgery</li>
                    <li>Obstetrics &amp; Gynecology</li>
                    <li>Emergency Care</li>
                  </ul>
            </div>

            <div class="divider-4">
                  <h5>Health Packages</h5>
                  <ul class="4-ul">
                      <li>Master Health Check</li>
                    <li>Executive Health Check</li>
                    <li>Heart Check</li>
                    <li>Well Women Health Check</li>
                    <li>Child Health Check</li>
                    <li>Senior Citizen Health Check</li>
                    <li>Whole Body Health Check</li>
                    <li>Diabetic Health Check Pack I</li>
                    <li>Diabetic Health Check Pack II</li>
                    <li>Health Camps</li>
                  </ul>
            </div>

            <div class="divider-5">
                  <h5>Contact</h5>
                  <ul class="5-ul">
                      <li>Contact Us</li>
                    <li>Consult Doctors Online</li>
                    <li>Book Appointment</li>
                    <li>Give Your Feedback</li>
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                  </ul>
            </div>
          </div>
          <div class="bottom-line"></div>
    </div>
    <div class="footer-content">
        Copyright © 2023. All rights reserved.
     </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>
</body>
</html>